@import "~office-ui-fabric-react/dist/sass/References.scss";

.buttonContainer {
  button {
    outline: transparent;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: default;
    padding: 0.2rem 1rem;
    min-width: 80px;
    background-color: transparent;
    max-width: 100%;
    user-select: none;
  }

  .outline {
    border: 1px solid;
    border-color: "[theme: primaryButtonBackground]";
    color: "[theme: bodyText, default: #0078d7]";
  }

  .fillColor {
    border: none;
    background-color: "[theme: primaryButtonBackground, default: #0078d7]";
    color: "[theme: primaryButtonText, default: #0078d7]";
  }

  .noOutline {
    border: none;
    color: "[theme: bodyText, default: #0078d7]";
  }

  .timeinLabel {
    margin-right: 5px;
    color: "[theme: bodyText, default: #0078d7]";
    font-family: "[theme: mediumFontFamily, default: sans-serif]";
    font-size: "[theme: mediumFontSize, default: 14px]";
    font-weight: "[theme: mediumFontWeight, default: 400]";
  }

  .label {
    margin: 0px;
    line-height: 2rem;
    display: block;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: "[theme: bodyText, default: #0078d7]";
    font-family: "[theme: mediumFontFamily, default: sans-serif]";
    font-size: "[theme: mediumFontSize, default: 14px]";
    font-weight: "[theme: mediumFontWeight, default: 400]";
  }

  .textContainer {
    flex-grow: 1;
    display: block;
    max-width: 100%;
  }

  .flexContainer {
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .buttonIcon {
    vertical-align: top;
    margin: 0px 0.2rem;
  }
}
