.layout {
  .container {
    .card {
      margin-top: 10px;
      min-width: auto;
      border-radius: 0.25rem;
      .cardBody {
        padding: 1.25rem;
        .punchInfo {
          margin-bottom: 20px;
          .punchHours {
            align-items: center;
            border: 5px solid;
            border-color: "[theme: primaryButtonBackground]";
            border-radius: 50%;
            display: flex;

            height: 120px;
            justify-content: center;
            margin: 0 auto;
            width: 120px;
            span {
              color: "[theme: bodyText, default: #0078d7]";
            }
          }
        }
        .punchBtnSection {
          margin-bottom: 20px;
          text-align: center;
        }
        .stats {
          .statsContainer {
            display: flex;
            justify-content: center;
            .statsBox {
              color: "[theme: bodyText, default: #0078d7]";
              text-align: center;
              background-color: #f9f9f9;
              border: 1px solid #e3e3e3;
              margin-bottom: 15px;
              padding: 5px;
              width: 80%;
              flex-wrap: wrap;
              margin: 0 5px;
              border-radius: 5px;
              p,
              h6 {
                margin: 0 !important;
              }
            }
          }
        }
        .cardFooter {
          padding-top: 20px;
          color: "[theme: bodyText, default: #0078d7]";
          font-size: "[theme: mediumFontSize, default: 14px]";
          text-align: left;
          .checkInDate {
            word-spacing: 1px;
          }
          .checkInTime {
            color: "[theme: primaryButtonBackground, default: #0078d7]" !important;
          }
        }
      }
    }
  }
}
